/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.modal {
    background: rgba(72, 70, 70, 0.938);
}

.modal-backdrop {
    display: none;
}
body {
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
